.form-inline{
    margin-left: auto !important;
}

.banner-wrap{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1455587734955-081b22074882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:150px;
}

.banner-wrap p{
    color: white;
    font-size: 24px;
    opacity: 0.70;
}

h1{
    color: white;
    font-size: 45px !important;
    margin: 0;
    font-weight: bold;
}



a{
    border-radius: 3px;
    background-color: white !important;
}
#ver-disponibilidad{
    padding: 5px 5px 10px 10px;
    text-decoration: none;
    background-color: rgb(59, 80, 255) !important;
    color: white !important;
}

#ver-disponibilidad:hover{
    background-color: rgb(59, 174, 223) !important;
}

a:hover{
    background-color: rgb(230, 255, 255) !important;
}

.nav-link{
    margin: 0px 10px 0px 0px;
}


.btn{
    border: 1px transparent !important;
}

.btn:hover{
    background-color: rgb(230, 255, 255) !important;
}

.btn-outline-success{
    color: #007bff !important;
    border-radius: 3px;
    background-color: white !important;
}

img{
    height: 180px;
    width: 350px
}
.card-cointaner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5%;
}
.card{
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,1);
    border-radius: 4px;
    padding: 1.5%;
    margin: 0 02%;
    width: 29%;
}
.card-wrap h1 {
    color: black;
}
.card-wrap{
    margin: 1.5% auto;
}
footer{
    text-align: right;
    font-size:20px;
    font-style:italic;
    color:black;
    background-color:#cee39c;
    padding: 0px 20px;
}

.nav-link-active{
    margin: 0px 10px 0px 0px;
    padding: .5rem 1rem;
    display: block;
    background-color: rgb(230, 255, 255) !important;
}
.nav-link-active:hover{
    text-decoration: none;
    color: #007bff;
}